@model API_Rest_Biblio.Models.ClaseLibro

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estas seguro de Elimnar este libro ?</h3>
<div>
    <h4>Datos a Eliminar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>ID</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_libro)
        </dd>

        <dt>
            <b>ID Autor</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_autor)
        </dd>

        <dt>
            Titulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            Año de Lanzamiento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_lanz)
        </dd>

        <dt>
            Editorial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorial)
        </dd>

        <dt>
            Idioma
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idioma)
        </dd>

        <dt>
            Paginas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ELIMINAR" class="btn btn-default" /> |
            @Html.ActionLink("CANCELAR", "Index")
        </div>
    }
</div>
