@model IEnumerable<API_Rest_Biblio.Models.ClaseLibro>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Libros</h2>


    <p>@Html.ActionLink("Nuevo Libro","nuevolibro")</p>

<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Autor
        </th>
        <th>
            Titulo
        </th>
        <th>
            Año Lanzamiento
        </th>
        <th>
            Editorial
        </th>
        <th>
            Idioma
        </th>
        <th>
            Paginas
        </th>
        <th>
            Portada
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id_libro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.id_autor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_lanz)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.editorial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idioma)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.paginas)
    </td>
    
    <td>
        @Html.ActionLink("Editar", "Edit", new { id=item.id_libro}) |
        @Html.ActionLink("Eliminar", "Delete", new { id=item.id_libro })
    </td>
</tr>
}

</table>
